/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    width:100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 430px;
    height: 100%;
    margin: auto;
    border-radius: 30px;
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
    background-color: rgba(190, 184, 220, 1);
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.setting {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 0%;
}

a{
    color:initial;
    text-decoration: none;
}
.setting-link {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 0px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-icon {
    font-size: 18px;
}

.setting-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Adjust alignment */
    gap: 12px; /* Add space between footer items */
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item i {
    font-size: 24px;
}

.footer-text {
    margin-top: 5px;
    font-size: 14px;
}

.active {
    color: rgba(123, 97, 255, 1); /* Change color for active item */
}

@media (max-width:500px){
    .footer-item{
        transform: scale(0.7);
    }
}